body{
  margin: 0;
  padding: 0;
  height: 100%;
}
.main_box{
  width: 100%;
  height: 100vh;
  /* background: #000; */
}
/* .main_box-light{
  background: white;
  color: black;
}
.main_box-dark{
background: rgb(20, 20, 20);
color: white;
} */

 
 .btn-info {

  color: #000;
  background-color: #76ffff;
  border-color: #a4dee9;
}

.white{
  background: #ffffff;
  color:#000;
  box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2);

}
.black{
  background: rgb(56, 56, 56);
  color: white;
  box-shadow:0 4px 8px 0 rgba(255, 253, 253, 0.2);
}

